{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/index.css') }}">#}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-7">
                <div class="jumbotron">
                    <h2>
                        {{ post.title }}
                    </h2>
                    <p>
                        {{ post.content }}
                    </p>
                    <div class="row">
                        <div class="col">
                            <h3>
                                by {{ post.author.email }}
                            </h3>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <h3>
                                {{ post.created|date("d/m/Y") }}
                            </h3>
                            <div class="post-actions">
                                <a href="{{ path('post_edit', {'slug': post.slug}) }}">
                                    <i class="far fa-edit">{{ 'Edit' }}</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}